body {
  font-family: 'Cousine';
  background-color: #8888cc;
}

h1 {
  font-size: 120px;
  color: black;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

a  {
  text-decoration: none;
  color: #444444;
}

.play {
  font-size: 48px;
}

small {
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 640px;
  height: 480px;
  border: 1px solid black;
  margin: 10px 0;
}

.primary {
  max-width: 640px;
  margin: 10px 0;
}

.subsection {
  margin: 10px 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls li {
  border: 1px solid black;
  max-width: 300px;
  margin: 10px 0;
}

em {
  color: #880000;
}
